body{
	  border: 1px white;
  position: relative;
  display: flex;
  margin:0;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-height:1vh;
  flex-wrap:wrap;
      word-wrap: break-word;
  background-color:#fefcff;
  background-image:url('sigin.png');
  background-repeat:no-repeat;
}

.container{
	border : 1px solid #FFFFF7;
	border-radius: 20px;
	background-color:#FFFFFF;
	position:absolute;
	box-align:center;
	top:215px;
	padding:25px;
	display:in-block;
	box-shadow:0px 0px 10px rgb(0,0,0,0.2);
	width:300px;
	height:230px;
}

label[for="login"]{
	position:relative;
	left:115px;
	font-size:24px;
}

input[type = "alphanum"]{
	border-top : #FFFFFF;
	border-left: #FFFFFF;
	border-right:#FFFFFF;
	font-family:Arial;
	width:200px;
height:20px;}


input[type = "password"]{
	border-top : #FFFFFF;
	border-left: #FFFFFF;
	border-right:#FFFFFF;
	font-family:Arial;
	width:200px;
height:20px;}

input:focus{
border-bottom-color:#FED8B1;
outline:#FED8B1;
}

button{
	position:relative;
	float:right;
	background-color:#FFFFFF;
	border-color:transparent;
	border-radius:10px;
	color:#e8a317;
	width:80px;
	height:35px;
	text-align:center;
	font-size:24px;
	top:20px;
}

footer{
	position:relative;
top:20px;}

button:hover{	
cursor:pointer;
outline-color:#FED8B1;
color:#FFFFFF;
background-color:#FED8B1;}


#foot{
	border:1px solid transparent;
	border-radius:5px;
	box-shadow:0px 0px 10px rgb(0,0,0,0.2);
	width:20vw;
	height:5vh;
	display:none;
	gap:20px;
	box-align:bottom;
	position:relative;
	right:280px;
	color:red;
	text-shadow:0px 0px 10px rgb(0,0,0,0.2);
	animation: blink 1s infinite;
	text-align:center;
	align-items:center;
}
 
@keyframes{
	0%{opacity:1;}
	50%{opacity:0;}
100%{opacity:1;}
}


#foot:hover{
	box-shadow:0px 10px 20px rgb(0,0,0,0.2);
	animation:blink 0s;
}